/* 
this file is for main css
 */
@import "compass/css3";
@import "vars";
body {
max-width:100%;
}
h1 {
color:$blue;
}
.example {
height:150px;
width:150px;
background:red;
border-radius:100%;
	h1 {
	color:$red;
	}
}

.food {
	h2 {
	cursor:pointer;
	   -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
	}
	h2:hover {
	color:ltblue;
	}
 .day {
 display:none;
   -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
 }
}
body {
 font-family: "Times New Roman", Georgia, Serif;
  table {
  
  padding: 15px !important;

  }

}
.content {
width:1280px;
max-width:100%;
div {
max-width:100%;
width: 800px;
margin-left: auto;
margin-right: auto;
}
table {
margin:0 auto;
}
.buttons {
display:-ms-flexbox;
display:-webkit-flex;
display:flex;
-ms-flex-wrap:wrap;
-webkit-flex-wrap:wrap;
flex-wrap:wrap;
-ms-flex-justify:space-around;
-webkit-justify-content:space-around;
justify-content:space-around;
width:500px;
max-width:100%;
button {
margin-bottom:15px}

}
button.active {
background-color:#01c6d8;
}

}

@media screen and (max-width:400px) {
table {
font-size:13px !important;
}
.content .buttons button {
width:150px;
}
.content  .buttons {
flex-direction:column;
align-items:center;
-webkit-flex-direction:column;
-webkit-align-items:center;
-ms-flex-pack:center;
-ms-flex-direction:column;
}
}
.menu {
	  background-color: #0733C3;
	  text-align: center;
	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	}
	#toggle { 
	  font-size: 24px; 
	}
	 ul { 
	  display: none; 
	}
	a { 
	  color: #fff;
	  text-decoration: none; 
	}
	a:hover,a:active, a:visited {
	color:#fff;
	text-decoration:none;
	}

}

.sodexo-today {
font-size:12px;
h3 {
font-size:16px;
cursor:pointer;
font-weight: bold;

}
.otherdata {
display:none;
}
.desc {
font-weight: bold;
}
.price {
text-decoration:underline;
}
}
