/* 
this file is for main css
 */
@import "compass/css3";
@import "vars";
h1 {
color:$blue;
}
.example {
height:150px;
width:150px;
background:red;
border-radius:100%;
	h1 {
	color:$red;
	}
}

.food {
	h2 {
	cursor:pointer;
	   -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
	}
	h2:hover {
	color:ltblue;
	}
 .day {
 display:none;
   -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
 }
}
body {
 font-family: "Times New Roman", Georgia, Serif;
  table {
  
  padding: 15px !important;

  }

}
.content {
width:1280px;
max-width:100%;
div {
max-width:100%;
}
table {
margin:0 auto;
}
.buttons {
display:-ms-flexbox;
display:-webkit-flex;
display:flex;
-ms-flex-wrap:wrap;
-webkit-flex-wrap:wrap;
flex-wrap:wrap;
-ms-flex-justify:space-around;
-webkit-justify-content:space-around;
justify-content:space-around;
width:500px;
max-width:100%;
button {
margin-bottom:15px}

}

}

@media screen and (max-width:400px) {
table {
font-size:13px !important;
}
}
