/* 
this file is for main css
 */
@import "compass/css3";
@import "compass/reset";
@import "vars";
h1 {
color:$blue;
}
.example {
height:150px;
width:150px;
background:red;
border-radius:100%;
	h1 {
	color:$red;
	}
}

.food {
	h2 {
	cursor:pointer;
	   -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
	}
	h2:hover {
	color:ltblue;
	}
 .day {
 display:none;
   -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
 }
}
body {
 font-family: "Times New Roman", Georgia, Serif;
 

}